html,
body {
    margin: 0;
    font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root {
    --primary: #dedfe3;
    --grey: #373535;
}

.navTitle{
    color: var(--grey);
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

.navContainer{
    background-color: var(--primary);
}