:root {
    --primary: #d8ddea;
    --grey: #2a2929;
}

.navTitle{
    color: var(--grey);
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

.navContainer{
    background-color: var(--primary);
}